GITLAB_URL=https://gitlab.com
GITLAB_TOKEN=your_gitlab_personal_access_token
GITLAB_PROJECT_ID=your_project_id_or_namespace/project
GITHUB_TOKEN=your_github_token_with_copilot_access
TARGET_REPO_PATH=/path/to/your/local/repo
